In [ ]:
from pyspark import *
from pyspark import RDD
from pyspark.sql import *

In [1]:
from pyspark import *
from pyspark import RDD
from pyspark.sql import *
from pyspark.sql.functions import *

In [2]:
def create_spark_session():
    sp = SparkSession.builder.master('local[*]').appName('word').getOrCreate()
    return sp

In [3]:
create_spark_session()

/home/labuser/.local/lib/python3.6/site-packages/pyspark/context.py:238: FutureWarning: Python 3.6 support is deprecated in Spark 3.2.
  FutureWarning

In [4]:
def read_data():
    sp = SparkContext.getOrCreate()
    data: RDD[str] = sp.textFile('hdfs://cdhserver:8020/user/labuser/madhan/paragrapgh.txt')
    return data

In [5]:
read_data()

hdfs://cdhserver:8020/user/labuser/madhan/paragrapgh.txt MapPartitionsRDD[1] at textFile at NativeMethodAccessorImpl.java:0

In [7]:
spark = create_spark_session()
data1 = read_data()

In [29]:
#convert data into  upper or lowercase 
#split by -

data = data1.flatMap(lambda d: d.upper().split("-"))
print(data.collect())

['JANA', 'GANA', 'MANA', 'ADHINAYAKA JAYA HE', 'BHARATA', 'BHAGYA', 'VIDHATA', 'PUNJABA', 'SINDHU', 'GUJARATA', 'MARATHA', 'DRAVIDA', 'UTKALA', 'BANGA', 'VINDHYA', 'HIMACHALA', 'YAMUNA', 'GANGA', 'UCHCHALA', 'JALADHI', 'TARANGA', 'TAVA SHUBHA NAME JAGE, TAVA SHUBHA ASISA MAGE,', 'GAHE TAVA JAYA', 'GATHA.', 'JANA', 'GANA', 'MANGALA', 'DAYAKA JAYA HE', 'BHARATA', 'BHAGYA', 'VIDHATA.', 'JAYA HE, JAYA HE, JAYA HE,', 'JAYA JAYA JAYA, JAYA HE']

In [31]:
#remove , and . from words and splitting by space
data = data.flatMap(lambda y: y.replace(",", "").replace(".", "").split(" "))
print(data.take(10))

['JANA', 'GANA', 'MANA', 'ADHINAYAKA', 'JAYA', 'HE', 'BHARATA', 'BHAGYA', 'VIDHATA', 'PUNJABA']

In [32]:
#take( ) used fro collecting specific items in rdd

In [36]:
#map the each word with 1 like key and value (key,value)
data_after_map = data.map(lambda xyz: (xyz, 1))
print(data_after_map.collect())

[('JANA', 1), ('GANA', 1), ('MANA', 1), ('ADHINAYAKA', 1), ('JAYA', 1), ('HE', 1), ('BHARATA', 1), ('BHAGYA', 1), ('VIDHATA', 1), ('PUNJABA', 1), ('SINDHU', 1), ('GUJARATA', 1), ('MARATHA', 1), ('DRAVIDA', 1), ('UTKALA', 1), ('BANGA', 1), ('VINDHYA', 1), ('HIMACHALA', 1), ('YAMUNA', 1), ('GANGA', 1), ('UCHCHALA', 1), ('JALADHI', 1), ('TARANGA', 1), ('TAVA', 1), ('SHUBHA', 1), ('NAME', 1), ('JAGE', 1), ('TAVA', 1), ('SHUBHA', 1), ('ASISA', 1), ('MAGE', 1), ('GAHE', 1), ('TAVA', 1), ('JAYA', 1), ('GATHA', 1), ('JANA', 1), ('GANA', 1), ('MANGALA', 1), ('DAYAKA', 1), ('JAYA', 1), ('HE', 1), ('BHARATA', 1), ('BHAGYA', 1), ('VIDHATA', 1), ('JAYA', 1), ('HE', 1), ('JAYA', 1), ('HE', 1), ('JAYA', 1), ('HE', 1), ('JAYA', 1), ('JAYA', 1), ('JAYA', 1), ('JAYA', 1), ('HE', 1)]

In [37]:
#reduce the key and value by mapping key and sumthe values 
data = data_after_map.reduceByKey(lambda x, y: x + y)
print(data.collect())

[('JANA', 2), ('GANA', 2), ('ADHINAYAKA', 1), ('HE', 6), ('VIDHATA', 2), ('DRAVIDA', 1), ('BANGA', 1), ('HIMACHALA', 1), ('NAME', 1), ('GAHE', 1), ('DAYAKA', 1), ('MANA', 1), ('JAYA', 10), ('BHARATA', 2), ('BHAGYA', 2), ('PUNJABA', 1), ('SINDHU', 1), ('GUJARATA', 1), ('MARATHA', 1), ('UTKALA', 1), ('VINDHYA', 1), ('YAMUNA', 1), ('GANGA', 1), ('UCHCHALA', 1), ('JALADHI', 1), ('TARANGA', 1), ('TAVA', 3), ('SHUBHA', 2), ('JAGE', 1), ('ASISA', 1), ('MAGE', 1), ('GATHA', 1), ('MANGALA', 1)]

In [38]:
data.collect()

[('JANA', 2),
 ('GANA', 2),
 ('ADHINAYAKA', 1),
 ('HE', 6),
 ('VIDHATA', 2),
 ('DRAVIDA', 1),
 ('BANGA', 1),
 ('HIMACHALA', 1),
 ('NAME', 1),
 ('GAHE', 1),
 ('DAYAKA', 1),
 ('MANA', 1),
 ('JAYA', 10),
 ('BHARATA', 2),
 ('BHAGYA', 2),
 ('PUNJABA', 1),
 ('SINDHU', 1),
 ('GUJARATA', 1),
 ('MARATHA', 1),
 ('UTKALA', 1),
 ('VINDHYA', 1),
 ('YAMUNA', 1),
 ('GANGA', 1),
 ('UCHCHALA', 1),
 ('JALADHI', 1),
 ('TARANGA', 1),
 ('TAVA', 3),
 ('SHUBHA', 2),
 ('JAGE', 1),
 ('ASISA', 1),
 ('MAGE', 1),
 ('GATHA', 1),
 ('MANGALA', 1)]